#define IDI_LAUNCH 0x101
#define IDI_EMPTY 0x102
#define IDI_LOW 0x103
#define IDI_MEDIUM 0x104
#define IDI_FULL 0x105

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "application.manifest"

IDI_LAUNCH ICON "launch.ico"

IDI_EMPTY ICON "empty.ico"
IDI_LOW ICON "low.ico"
IDI_MEDIUM ICON "medium.ico"
IDI_FULL ICON "full.ico"